body{
    font-family: 'Special Elite',cursive;
    background: #f50606;
}

.header_div
{
    background: rgb(247, 255, 4);
    color: rgb(255, 0, 0);
}

.header_div p{
   font-family: 'Roboto', sans-serif;
    color: rgb(51, 255, 0);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: 130px;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: bisque;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: black;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(243, 4, 4);
}
